project:
  type: website
  output-dir: _site
  pre-render: print_quarto_config.py
  render:
    - index.qmd
    - 00-Class-Introduction.qmd
    - 00A-lecture_schedule.qmd
    - 01-Intro-to-Python.qmd
    - 02A-Git.qmd
    - 02B-Pandas.qmd
    - 02C-Sklearn.qmd
    - 04-Linear-Algebra-Refresher.qmd
    - 03-Probability-and-Statistics-Refresher.qmd
    - 05-Distances-Timeseries.qmd
    - 05A-Learning.qmd
    - 06-Clustering-I-kmeans.qmd
    - 07-Clustering-II-in-practice.qmd
    - 08-Clustering-III-hierarchical.qmd
    - 09-Clustering-IV-GMM-EM.qmd
    - 09A-Appendix-Derive-MLE-params-for-gaussian.qmd
    - 09B-Appendix-Cov-Matrix-in-MV-Gaussians.qmd
    - 09C-Appendix-complete-data-likelihood.qmd
    - 09D-Appendix-Derive-the-E-step.qmd
    - 13-Learning-From-Data.qmd
    - 14-Classification-I-Decision-Trees.qmd
    - 15-Classification-II-kNN.qmd
    - 16-Classification-III-NB-SVM.qmd
    - 10-Low-Rank-and-SVD.qmd
    - 11-Dimensionality-Reduction-SVD-II.qmd
    - "!12-Anomaly-Detection-SVD-III.qmd"
    - 17-Regression-I-Linear.qmd
    - 18-Regression-II-Logistic.qmd
    - 18A-decision-tree-regression.qmd
    - 18B-gradient-boosting-methods.qmd
    - 19-Regression-III-More-Linear.qmd
    - 23-NN-I-Gradient-Descent.qmd
    - 24-NN-II-Backprop.qmd
    - 25-NN-III-CNNs.qmd
    - 20-Recommender-Systems.qmd
    - 21-Networks-I.qmd
    - 22-Networks-II-Centrality-Clustering.qmd
    - 26-TimeSeries.qmd
    - 27-RNN.qmd
    - 28-NLP.qmd
    - 29-NN-IV-Scikit-Learn.qmd

resources:
  - figs/NN-figs/conv-demo/index.html
  - figs/NN-figs/conv-demo/utils.js
  - figs/NN-figs/conv-demo/external/d3.min.js
  - data/stocks/nvidia_stock_2024.csv

website:
  title: "Tools for Data Science"
  back-to-top-navigation: true
  sidebar:
    style: "docked"
    search: true
    contents:
    - href: index.qmd
      text: Syllabus
    - href: 00A-lecture_schedule.qmd
      text: Lecture Schedule
    - href: 00-Class-Introduction.qmd
      text: Course Overview
    - section: "Preliminaries"
      contents:
        - 01-Intro-to-Python.qmd
        - 02A-Git.qmd
        - 02B-Pandas.qmd
        - 02C-Sklearn.qmd
        - 03-Probability-and-Statistics-Refresher.qmd
        - 04-Linear-Algebra-Refresher.qmd
        - 05-Distances-Timeseries.qmd
        - 05A-Learning.qmd
    - section: "Clustering"
      contents:
        - 06-Clustering-I-kmeans.qmd
        - 07-Clustering-II-in-practice.qmd
        - 08-Clustering-III-hierarchical.qmd
        - 09-Clustering-IV-GMM-EM.qmd
        - 09A-Appendix-Derive-MLE-params-for-gaussian.qmd
        - 09B-Appendix-Cov-Matrix-in-MV-Gaussians.qmd
        - 09C-Appendix-complete-data-likelihood.qmd
        - 09D-Appendix-Derive-the-E-step.qmd
    - section: "Classification"
      contents:
        - 13-Learning-From-Data.qmd
        - 14-Classification-I-Decision-Trees.qmd
        - 15-Classification-II-kNN.qmd
        - 16-Classification-III-NB-SVM.qmd
    - section: "Regression"
      contents:
        - 17-Regression-I-Linear.qmd
        - 18-Regression-II-Logistic.qmd
        - 18A-decision-tree-regression.qmd
        - 19-Regression-III-More-Linear.qmd    
    - section: "Dimensionality Reduction"
      contents:
        - 10-Low-Rank-and-SVD.qmd
        - 11-Dimensionality-Reduction-SVD-II.qmd
      # - 12-Anomaly-Detection-SVD-III.qmd
    - section: "Neural Networks"
      contents:
        - 23-NN-I-Gradient-Descent.qmd
        - 24-NN-II-Backprop.qmd
        - 25-NN-III-CNNs.qmd
        - 29-NN-IV-Scikit-Learn.qmd
    - section: "Selected Topics"
      contents:
        - 21-Networks-I.qmd
        - 22-Networks-II-Centrality-Clustering.qmd
        - 20-Recommender-Systems.qmd
        - 26-TimeSeries.qmd
        - 27-RNN.qmd
        - 28-NLP.qmd

# bibliography: references.bib

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    code-fold: true

execute: 
  freeze: auto # see https://quarto.org/docs/projects/code-execution.html#freeze
  cache: true # see https://quarto.org/docs/projects/code-execution.html#cache
